<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests" thread-count="1" >
	<test name="Test1">
		<parameter name="deviceName_" value="deviceName">
		<parameter name="UDID_" value="484ac266"/>
		<parameter name="platformVersion_" value="6.1.0"/>
		<parameter name="URL_" value="127.0.0.1:1234/wd/hub"/>
		<classes>
			<class name="com.practise.Mobiwiki"/>
		</classes>
		</parameter>
	</test> 
	</suite> <!-- Suite -->